body{
	   		margin: 0;
			padding:0;
			color:#484848;
			font-size:14px;
			font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
			align-content: center;			}
.logo{
	background-image: url('../images/logo.png');
	display: flex;
	width: 160px;
	height: 70px;
	background-size: cover;
	margin-left: 20px;
	vertical-align: middle;

  
}
.bs
{
	margin-top: 20px;
}
.container{
	max-width: 1000px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.big-container{
  max-width: 1000px;
  margin: auto;
	align-content: center;
	align-items: center;
	position: relative;
}
